@media (min-width: 768px) {
.navbar-collapse.collapse {
        display: none !important;
    }

.navbar-collapse.collapse.in {
        display: block !important;
    }

.navbar-header .navbar-toggle {
        display: block !important;
    }

.navbar-header {
        float: none;
        width: 100%;
    }

.navbar-nav {
        float: none !important;
    }
}
