@page "/Tickets"
@using ServiceDeskLite.Contracts.V1.Common
@using ServiceDeskLite.Contracts.V1.Tickets
@using ServiceDeskLite.Web.Api.V1
<h3>Tickets</h3>

@code {
    [Inject] public required ITicketsApiClient Client { get; set; }
    private TicketsPageState.TicketsState? _state;
    
    protected override async Task OnInitializedAsync()
    {
        _state = new TicketsPageState.LoadingState();

        var result = await Client.SearchAsync(new SearchTicketsRequest
        {
            Page = 1,
            PageSize = 25,
            SortField = TicketSortField.CreatedAt,
            SortDirection = SortDirection.Desc
        });

        _state = result.IsSuccess
            ? result.Value!.Items.Count == 0
                ? new TicketsPageState.EmptyState()
                : new TicketsPageState.LoadedState(result.Value!)
            : new TicketsPageState.ErrorState(result.Error!);
    }
}
