name: CI

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build-test:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest]
        
        runs-on: ${{ matrix.os }}
        
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "10.0.x"
                  cache: true

            - name: Restore
              run: dotnet restore ./ServiceDeskLite.slnx

            - name: Build
              run: dotnet build ./ServiceDeskLite.slnx -c Release --no-restore

            - name: Test
              run: dotnet test ./ServiceDeskLite.slnx -c Release --no-build
